* {
  margin: 0;
  border: 0;
  padding: 0;
} 

body {
  font-family: Helvetica, san-serif;
  font-size: 22px;
  text-align: center;
  background-color:black;
  color: seashell;
  opacity: 0.9;
}

header {
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  left: 0;
  border-bottom: 1px solid seashell;
  z-index: 10px;
  align-items:center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}


.logo {
  height: 50px;
  margin-left: 10px;
  width: auto
}

nav {
  text-align: right;
  flex-grow: 1;
}

li {
  display: inline;
  list-style: none;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}


a {
  color: seashell;
  text-decoration: underline;
}

#mission {
    height: 700px;
    background-image: url("../images/img-mission-background.jpg");
    padding-top: 70px;
}

#mission .banner {
  background-color: black;
  width: 100%;
}

#featured {
  height: 700px;
  padding-top: 70px ;
}

#featured .shop-header {
  background-color: black;
  width: 100%;
}

#featured .shop {
  display: inline;
  flex-wrap: wrap;
}

#featured .item{
  height: 200px;
  width: 300px;
  padding: 10px;
}

.contact {
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  border-top: 1px solid seashell;
  z-index: 10px;
  justify-content: center;
  align-items: center;
}

.copyright {
  background-color: black;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 10px;
  justify-content: flex-start;
  align-items: bottom;
}